.wrapper {
  width: 100%;
  height: 4rem;
  display: grid;
}
.wrapper input {
  height: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 3px;
  border: thin solid lightgray;
  outline: none;
}
.wrapper p {
  margin-top: -0.3rem;
  font-size: 0.8rem;
  color: brown;
}
