*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("/public/images/bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-list-info {
  width: 100%;
  height: 400px;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

::-webkit-scrollbar-track {
  background-color: #ecdfcc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3c3d37;
}

@media screen and (max-width: 768px) {
  .container-list-info {
    height: auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}
